/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);:root{--body-font:"Poppins",sans-serif;--main-color:#6d519d;--main-color-dark:#553f7b;--text-color:#3a4166;--text-color-light:#a9afb8;--text-main:#fff;--header-height:3rem;--body-color:#fff;--container-color:#f6fbff}*,:after,:before{box-sizing:border-box}html{scroll-behavior:smooth}body{background-color:var(--body-color);color:var(--text-color);font-family:var(--body-font);font-size:var(--normal-font-size);line-height:1.6;margin:var(--header-height) 0 0 0}@media screen and (min-width:768px){body{margin:0}}h1,h2,h3,p,ul{margin:0}ul{list-style:none;padding:0}a{text-decoration:none}img{height:auto;max-width:100%}.as-nav{align-items:center;display:flex;height:var(--header-height);justify-content:space-between;max-width:1024px}@media screen and (min-width:768px){.as-nav{height:calc(var(--header-height) + 1.5rem)}}@media screen and (max-width:768px){.as-nav__menu{background-color:var(--body-color);border-radius:0 0 1rem 1rem;box-shadow:0 4px 4px rgba(0,0,0,.1);left:0;padding:1.5rem 0 1rem;position:fixed;text-align:center;top:-100%;transition:.4s;width:100%;z-index:100}}.as-nav__list{display:block}@media screen and (min-width:768px){.as-nav__list{display:flex}}.as-nav__item{margin-bottom:1rem}@media screen and (min-width:768px){.as-nav__item{margin-bottom:0;margin-left:2.5rem}}.as-nav__link,.as-nav__toggle{color:var(--text-color);font-weight:500}.as-nav__logo{color:var(--text-color);font-size:clamp(2rem,5vw,2.25rem);font-weight:600}.as-nav__logo:hover{color:var(--main-color)}.as-nav__link{transition:.3s}.as-nav__link:hover{color:var(--main-color)}.as-nav__toggle{cursor:pointer;font-size:clamp(1rem,5vw,1.3rem)}@media screen and (min-width:768px){.as-nav__toggle{display:none}}.show-menu{top:var(--header-height)}.active-link{color:var(--main-color)}.scroll-header{box-shadow:0 2px 4px rgba(0,0,0,.1)}.as-hero__containerr{align-content:center;height:calc(100vh - var(--header-height))}@media screen and (min-width:576px){.as-hero__container{align-items:center;display:grid;grid-template-columns:repeat(2,1fr)}}@media screen and (min-height:721px){.as-hero__container{height:640px}}@media screen and (min-width:768px){.as-hero__container{height:100vh;justify-items:center}}.as-hero__title{color:var(--text-color);font-size:clamp(2.5rem,5vw,3rem);margin-bottom:.5rem;margin-top:8rem}.as-hero__subtitle{color:var(--text-color);font-size:clamp(1rem,5vw,1.25rem);margin-bottom:2rem}.as-hero__img{justify-self:center;width:100%}@media screen and (min-width:960px){.as-hero__img{width:500px}}.as-container{margin-left:1rem;margin-right:1rem;max-width:960px;width:calc(100% - 2rem)}@media screen and (min-width:960px){.as-container{margin-left:auto;margin-right:auto}}.as-header{background-color:var(--body-color);left:0;position:fixed;top:0;width:100%;z-index:100}.as-button,.as-grid__button{background-color:var(--main-color);border-radius:32px;color:var(--text-main);display:inline-block;font-size:clamp(.875rem,5vw,1rem);padding:.75rem 2rem;transition:.3s}.as-button:hover,.as-grid__button:hover{background-color:var(--main-color-dark)}.as-footer{background:url(/src/img/pattern.webp),var(--main-color-dark);background-position:50%;background-repeat:repeat-x}@media screen and (min-width:576px){.as-footer{background-repeat:round}}.as-footer__container{align-items:center;display:grid;gap:1.5rem;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));row-gap:2rem}@media screen and (min-width:576px){.as-footer__container{gap:.875rem}}.as-footer__title{color:var(--text-main);display:block;font-size:clamp(.875rem,5vw,1rem);margin:.25rem 0 1.5rem}.as-footer__social{color:var(--text-main);font-size:clamp(1.25rem,5vw,1.5rem);margin-right:1rem}.as-footer__link{color:var(--text-main);display:inline-block;margin-bottom:.5rem}.as-footer__link:hover{color:var(--text-color-light)}.as-footer__copy{color:var(--text-main);font-size:clamp(.75rem,5vw,.875rem);margin-top:3.5rem;text-align:center}.as-service__container{grid-template-columns:repeat(auto-fit,minmax(220px,1fr));row-gap:2.5rem}.as-service__content{text-align:center}.as-service__img{fill:var(--main-color);height:64px;margin-bottom:1rem;width:64px}.as-service__title{color:var(--text-color);font-size:clamp(1rem,5vw,1.25rem);margin-bottom:.5rem}.as-service__description{padding:0 1.5rem}.as-section{padding:4rem 0 3rem}@media screen and (min-width:768px){.as-section{padding-top:5rem}}.as-section-white{background-color:var(--body-color)}.as-section-soft{background-color:var(--container-color)}.as-section__description,.as-section__title{text-align:center}.as-section__title{font-size:clamp(1.5rem,5vw,2rem);margin-bottom:.5rem}.as-section__description{display:block;font-size:clamp(.875rem,5vw,1rem);font-weight:500;margin-bottom:3rem}.as-flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;justify-content:space-around;list-style:none;margin:0;padding:0}.as-flex__item{height:80px;margin-top:10px;text-align:center;width:200px}@media screen and (max-width:970px){.as-flex__item{height:80px;margin-top:10px;text-align:center;width:140px}}.as-flex__image{filter:gray;-webkit-filter:grayscale(1);margin:0 30px 40px 0;max-width:100%;opacity:.4;-webkit-transition:all .3s}.as-flex__image:hover{filter:none;-webkit-filter:grayscale(0);opacity:unset}.as-grid{grid-gap:20px;align-items:stretch;display:grid;grid-template-columns:repeat(auto-fill,minmax(280px,1fr))}.as-grid__card{background-color:var(--body-color);border-radius:.5rem;box-shadow:0 2px 4px rgba(3,74,40,.15)}.as-grid__card-wrapper{padding:1rem}.as-grid__image{border-radius:.5rem .5rem 0 0;max-width:100%}.as-grid__title{font-size:clamp(1rem,5vw,1.25rem);letter-spacing:-.02em;margin-bottom:1rem;margin-top:1rem}.as-grid__description{font-size:clamp(.75rem,5vw,.875rem);letter-spacing:.005em;line-height:1.5rem}.as-grid__button-wrapper{margin-bottom:28px;margin-top:24px}
.square {
    height: 350px;
    width: 100%;
    background-color: #F8F8F8;
  }
  .square3 {
    height: 150px;
    width: 100%;
    background-color: #F8F8F8;
  }
  .square2 {
    height: 450px;
    width: 100%;
    background-color: #F8F8F8;
  } */

  /* === Import Font Poppins dari Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* === Root Variables === */
:root {
  --body-font: 'Poppins', sans-serif;
  --main-color: #6d519d;
  --main-color-dark: #553f7b;
  --text-color: #3a4166;
  --text-color-light: #a9afb8;
  --text-main: #fff;
  --header-height: 3rem;
  --body-color: #fff;
  --container-color: #f6fbff;
}

/* === Reset dan Global Styles === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size, 16px);
  line-height: 1.6;
  margin: var(--header-height) 0 0 0;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* === Header dan Navigasi === */
.as-header {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.as-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  max-width: 1024px;
}

@media screen and (min-width: 768px) {
  .as-nav {
    height: calc(var(--header-height) + 1.5rem);
  }
}

.as-nav__menu {
  background-color: var(--body-color);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0 1rem;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .as-nav__menu {
    position: static;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    text-align: left;
  }
}

.as-nav__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .as-nav__list {
    display: flex;
  }
}

.as-nav__item {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .as-nav__item {
    margin: 0 0 0 2.5rem;
  }
}

.as-nav__logo {
  font-size: clamp(2rem, 5vw, 2.25rem);
  font-weight: 600;
  color: var(--text-color);
}

.as-nav__logo:hover,
.as-nav__link:hover {
  color: var(--main-color);
}

.as-nav__link,
.as-nav__toggle {
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s;
}

.as-nav__toggle {
  cursor: pointer;
  font-size: clamp(1rem, 5vw, 1.3rem);
}

@media screen and (min-width: 768px) {
  .as-nav__toggle {
    display: none;
  }
}

.show-menu {
  top: var(--header-height);
}

.active-link {
  color: var(--main-color);
}

.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* === Hero Section === */
.as-hero__container {
  align-content: center;
  height: calc(100vh - var(--header-height));
}

@media screen and (min-width: 576px) {
  .as-hero__container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-height: 721px) {
  .as-hero__container {
    height: 640px;
  }
}

@media screen and (min-width: 768px) {
  .as-hero__container {
    height: 100vh;
    justify-items: center;
  }
}

.as-hero__title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: var(--text-color);
  margin: 8rem 0 0.5rem;
}

.as-hero__subtitle {
  font-size: clamp(1rem, 5vw, 1.25rem);
  color: var(--text-color);
  margin-bottom: 2rem;
}

.as-hero__img {
  justify-self: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

@media screen and (min-width: 960px) {
  .as-hero__img {
    width: 500px;
    max-width: 400px;
  }
}

/* === Container Utility === */
.as-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

/* === Buttons === */
.as-button,
.as-grid__button {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--text-main);
  padding: 0.75rem 2rem;
  font-size: clamp(0.875rem, 5vw, 1rem);
  border-radius: 32px;
  transition: 0.3s;
}

.as-button:hover,
.as-grid__button:hover {
  background-color: var(--main-color-dark);
}

/* === Footer === */
.as-footer {
  background: url('/src/img/pattern.webp'), var(--main-color-dark);
  background-position: center;
  background-repeat: repeat-x;
}

@media screen and (min-width: 576px) {
  .as-footer {
    background-repeat: round;
  }
}

.as-footer__container {
  display: grid;
  gap: 1.5rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
}

@media screen and (min-width: 576px) {
  .as-footer__container {
    gap: 0.875rem;
  }
}

.as-footer__title {
  font-size: clamp(0.875rem, 5vw, 1rem);
  color: var(--text-main);
  margin: 0.25rem 0 1.5rem;
}

.as-footer__link {
  color: var(--text-main);
  display: inline-block;
  margin-bottom: 0.5rem;
}

.as-footer__link:hover {
  color: var(--text-color-light);
}

.as-footer__social {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  color: var(--text-main);
  margin-right: 1rem;
}

.as-footer__copy {
  color: var(--text-main);
  font-size: clamp(0.75rem, 5vw, 0.875rem);
  text-align: center;
  margin-top: 3.5rem;
}

/* === Services Section === */
.as-service__container {
  display: grid;
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.as-service__content {
  text-align: center;
}

.as-service__img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  fill: var(--main-color);
}

.as-service__title {
  font-size: clamp(1rem, 5vw, 1.25rem);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.as-service__description {
  padding: 0 1.5rem;
}

/* === Section Padding Utility === */
.as-section {
  padding: 4rem 0 3rem;
}

@media screen and (min-width: 768px) {
  .as-section {
    padding-top: 5rem;
  }
}

.as-section-white {
  background-color: var(--body-color);
}

.as-section-soft {
  background-color: var(--container-color);
}

.as-section__title,
.as-section__description {
  text-align: center;
}

.as-section__title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 0.5rem;
}

.as-section__description {
  font-size: clamp(0.875rem, 5vw, 1rem);
  font-weight: 500;
  margin-bottom: 3rem;
}

/* === Flex Section === */
.as-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.as-flex__item {
  height: 80px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 970px) {
  .as-flex__item {
    width: 140px;
  }
}

.as-flex__image {
  max-width: 100%;
  margin: 0 30px 40px 0;
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 0.3s;
}

.as-flex__image:hover {
  filter: none;
  opacity: 1;
}

/* === Grid Section === */
.as-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.as-grid__card {
  background-color: var(--body-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
}

.as-grid__card-wrapper {
  padding: 1rem;
}

.as-grid__image {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.as-grid__title {
  font-size: clamp(1rem, 5vw, 1.25rem);
  margin: 1rem 0;
  letter-spacing: -0.02em;
}

.as-grid__description {
  font-size: clamp(0.75rem, 5vw, 0.875rem);
  line-height: 1.5rem;
  letter-spacing: 0.005em;
}

.as-grid__button-wrapper {
  margin: 24px 0 28px;
}

/* === Custom Square Sections === */
.square,
.square2,
.square3 {
  width: 100%;
  background-color: #F8F8F8;
}

.square {
  height: 350px;
}

.square2 {
  height: 450px;
}

.square3 {
  height: 150px;
}
